<html>
    <head>
        <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
        </style>
    <head>
    <body>
        <table>
        <tr>
            <th>Tipo de máquina</th>
            <th>Cliente</th>
            <th>Fecha de ingreso</th>
            <th>Fecha de egreso</th>
            <th>Presupuesto</th>
            <th>Descripción de la reparación</th>
        </tr>
        <tr>
            <td>{{ record.typeMachine }}</td>
            <td>{{ record.client }}</td>
            <td>{{ record.dateFrom|date('d-m-Y') }}</td>
            <td>{{ record.dateTo|date('d-m-Y') }}</td>
            <td>{{ record.budget }}</td>
            <td>{{ record.description }}</td>
        </tr>
        </table>
    </body>
</html>
